:root{
    --base-color: white;
    --text-color: black;
    --primary-color: rgb(241, 240, 240);
}

.darkmode{
    --base-color: black;
    --text-color: white;
    --primary-color: rgb(68, 68, 68);
}

*{
    padding: 0%; 
    margin: 0%; 
    box-sizing: 
    border-box; 
    font-family: "Poppins" , sans-serif;
}

body{
    background-color: var(--base-color);
    color: var(--text-color);
    transition: 0.4s ease;
}

.three-dot{
    background-color: inherit;
    border: none;
}

.menu-button{
    background-color: inherit;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.1s ease;
}

.menu{
    display: flex;
    gap: 17px;
    align-items: center; 
    justify-content: center;
}

.menu-button:hover{
    border-bottom: 2px solid white;
}

#side-bar{
    position: absolute; 
    height: 100vh; 
    width: 300px; 
    background-color: var(--base-color);
    color: var(--text-color);
    top: 0px; 
    left: -600px; 
    transition: 0.4s ease;
    position: fixed;
}

.cross{
    background-color: inherit;
    color: inherit;
}

.sidebar-menu-button{
    background-color: inherit;
    font-size: 21px;
    font-weight: 600px;
    margin-bottom: 20px;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 10px 0px;
    transition: 0.2s ease;
}

.sidebar-menu-button:hover{
    background-color: rgb(190, 189, 189);
}

.card{
    width: 500px;
    height: 300px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 20px;
}

#dark-mode-button i:last-child{
    display: none;
}

.darkmode #dark-mode-button i:first-child{
    display: none;
}

.darkmode #dark-mode-button i:last-child{
    display: block;
}

@media (max-width: 768px){
    .menu{
        display: none;
    }
    .title-text h1{
        margin-left: 10px;
    }
}